@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
  margin: 0;
  @apply font-sans; /* This applies the custom sans font (Poppins) to the entire body */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* Add this to your CSS file ADD TO CART*/
.animate-glow {
  animation: glow 0.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px rgba(34, 197, 94, 0.5);
  }
  to {
    box-shadow: 0 0 15px rgba(34, 197, 94, 1);
  }
}

/* For the success message transition */
.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}



.pulsating-circle {
  position: absolute;
  width: 5em; /* Adjust size as needed */
  height: 70px; /* Adjust size as needed */
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3); /* Adjust color */
  animation: pulsate 1.5s infinite;
  transform: scale(0);
  z-index: 1; /* Make sure it's behind the button */
}

@keyframes pulsate {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}
